body{
    background-image: url(./papel-velho-vintage-envelhecido-fundo-ou-textura_34266-482.webp);
   


}


  h1{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 80px;
   
  }
  @media (max-width:900px){
    h1{
      font-size:  60px;
      
    }
  }
  main{
    min-width: 320px;
    max-width: 905px;
    text-align: center;
    margin: 0 auto;
 


  }
  
  
  .entrar{
   font-size: 70px;
   color: black;
   font-family: 'Qwitcher Grypen', cursive;
   text-decoration: none;

  }
  @media (max-width:900px){
    .entrar{
      font-size:  45px;
      
    }
  }
  .entrar:hover{
    color: dimgray;
    transition: 0.2s;
  }
  

  .navio{
    margin-right: 300px;
    
    
    

  }
  
  